@charset "UTF-8";


/*==== 左列 ====*/
.leftcolumn {
	float: left;
	width: 25%;
	margin: 5% 1% 5% 2%;
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
	z-index: 990;
}

.leftcolumn h2 {
	text-align: center;
}

/*==== 右列 ====*/
.rightcolumn {
	float: left;
	width: 69%;
	margin: 5% 2% 5% 1%;
}

.rightcolumn .blur {
	backdrop-filter: blur(0px);
	background-color: rgba(232, 232, 232, 0.9);
}


.article-nav {
	margin: auto;
	margin-bottom: 150px;
	width: 75%;
}

.toc {
	width: 100%;
	min-height: 350px;
}


/*==== 代码块样式 ====*/
pre{
	position: relative;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	max-height: 300px;
}

pre .btn-pre-copy{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 12px;
	line-height: 1;
	cursor: pointer;
	color: #ffffff;
	background-color: #afafaf;
	transition: color .1s;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #ccc;
}

/*==== 评论区样式 ====*/
.article_comments {
	padding: 30px 10px;
}
.article_comments .article_comments_title {
	font-size: 35px;
}
.article_comments .vwrap {
	background-color: #cdcdcda6 !important;
	border: 1px solid #85858594 !important;
	border-radius: 10px !important;
	box-shadow: 0 5px 15px rgba(20, 20, 20, 0.2) !important;
}
.article_comments .vinput {
	border-bottom: 1px #b9b9b9 dashed !important;
}
.article_comments .vinput:focus {
    border-bottom-color: #000000 !important;
}


/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	.leftcolumn, .rightcolumn {   
		width: 90%;
		padding: 0;
		margin: 5%;
		position: static;
	}
}
