@charset "UTF-8";


/*==== 左列 ====*/
.leftcolumn {
	float: left;
	width: 25%;
	margin: 5% 1% 5% 2%;
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
	z-index: 990;
}


/*==== 右列 ====*/
.rightcolumn {
	float: left;
	width: 69%;
	margin: 5% 2% 5% 1%;
}

.leftcolumn h2 {
	text-align: center;
}

.toc {
	width: 100%;
	min-height: 350px;
}


.view {
	width: 100%;
	min-height: 435px;
	background-color: rgba(218, 218, 218, 0.7);
	box-shadow: 0px 0px 20px rgba(227, 227, 227, 1.0);
	border-radius: 30px;
}


.part0 {
	width: 100%;
}


/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	.leftcolumn, .rightcolumn {   
		width: 90%;
		padding: 0;
		margin: 5%;
		position: static;
	}
}
