@charset "UTF-8";
/* 主样式文件 */

body {
	background-image: url("../images/bg11.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 90vh;
	width: 75%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/*==== 毛玻璃 ====*/
.blur {
	font-family: 微软雅黑;
	font-size: 20px;
	line-height: 35px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
	border-radius: 32px;
	align-items: center;
	backdrop-filter: blur(7px);
	padding: 38px 28px;
	margin-bottom: 30px;
}


/*==== 顶部导航栏 ====*/
.topnav {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(7px);
	box-shadow: 0 5px 15px rgba(115, 115, 115, 0.8);
	border: 1px solid #afc4cc;
	margin: 3% 0;
	border-radius: 25px;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
}


/*==== 顶部导航按钮 ====*/
.button01:link,.button01:visited {

	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.4);
	color: #21364c;
	width: 65px;
	margin: 5px 12px;
	padding: 10px 30px;
	border: 2px solid #a7bcc3;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	backdrop-filter: blur(8px);
}

.button01:hover {
	background-color: #8FC3FF;
	color: white;
	border-width: 5px;
	margin: 1px 9px;
}

.button01:active {
	background-color: #568EC6;
	color: white;
}
/*========*/


/*==== 头部标题logo ====*/
.header {
	text-align: center;
}
.header .logo {
	margin-top: 4%;
	margin-bottom: 25%;
	width: 45%;
}


/*==== 清除列之后的浮动 ====*/
.row:after {
	content: "";
	display: table;
	clear: both;
}


/*==== 左列 ====*/
.leftcolumn {
	float: left;
	width: 67%;
	margin: 5% 1% 5% 2%;
}


/*==== 右列 ====*/
.rightcolumn {
	float: left;
	width: 27%;
	margin: 5% 2% 5% 1%;
}


/*==== 个人链接卡片 ====*/
.aboutme {
	text-align: center;
	padding: 4% 2%;
}
.aboutme .p1 {
	font-size: 25px;
}
.aboutme .p2 {
	font-size: 16px;
}
.aboutme .avatar {
	width: 45%;
	border-radius: 100%;
	border: 5px solid #dedede;
}
.aboutme .linkimg {
	width: 33px;
	height: 33px;
	vertical-align: top;
}


/*==== 个人链接按钮 ====*/
.aboutme .mylink:link,.aboutme .mylink:visited {
	width: 65%;
	padding: 3% 5%;
	margin: 5%;
	border: 5px solid #dedede;
	background-color: #dedede;
	color: #21364c;
	border-radius: 28px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	backdrop-filter: blur(8px);
}

.aboutme .mylink:hover {
	padding-bottom: 3%;
	font-size: 23px;
	border-bottom-color: #21364c;	
}
/*========*/

/*==== GIF卡片 ====*/
.mygif {
	text-align: center;
}
.mygif .gif01 {
	width: 90%;
}

/*==== 欢迎卡片 ====*/
.welcome {
	text-align: center;
}
.welcome .p1 {
	font-size: 35px;
}
.welcome .p2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 19px;
}
.welcome .p3 {
	margin-top: 5%;
	font-size: 20px;
}

/*==== 内容卡片01 ====*/
.part01 {
	text-align: center;
}
.part01 .p1 {
	font-size: 45px;
	line-height: 45px;
}
.part01 .p2 {
	font-size: 25px;
}
.part01 .p3 {
	font-size: 35px;
}

/*==== 内容卡片02 ====*/
.part02 .p3 {
	text-align: right;
}
.part02 .p4 {
	padding: 0 3%;
}
.part02 .gif {
	width: 20%;
}

/*==== 底部版权信息 ====*/
.footer {
	text-align: center;
}
.footer .p0 {
	display: none;
}
.footer .p1 {
	line-height: 0;
}
.footer .p2 {
	font-size: 25px;
	line-height: 130%;
}
.footer .p3 {
	line-height: 0;
}
.footer .url {
	line-height: 0;
	text-decoration: none;
	margin: 0 1%;
}
.footer .logo {
	float: left;
	width: 20%;
	position: fixed;
	top: 30%;
	left: 5%;
}


/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	body {
		background-image: url("../images/bg12.jpg");
		width: 98%;
	}
	.blur {
		backdrop-filter: none;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.button01:link,.button01:visited {
		font-size: 28px;
		width: 75px;
		margin: 5px 12px;
		padding: 10px 30px;
		border-radius: 30px;
	}
	.button01:hover {
		margin: 1px 9px;
	}
	.header .logo {
		width: 80%;
		margin-bottom: 85%;
	}
	.leftcolumn, .rightcolumn {   
		width: 90%;
		padding: 0;
		margin: 5%;
	}
	.aboutme .avatar {
		width: 25%;
	}
	.aboutme .mylink:link,.aboutme .mylink:visited {
		font-size: 24px;
		padding: 2% 3%;
		width: 35%;
		margin: 3%;
	}
	.aboutme .mylink:hover {
		padding-bottom: 2%;
		font-size: 26px;
	}
	.mygif .gif01 {
		width: 50%;
	}
	.welcome .music{
		display: none;
	}
	.footer .p0{
		display: inline-block;
		width: 20%;
	}
	.footer .logo {
		display: none;
	}
}

