@charset "UTF-8";


/*==== 左列 ====*/
.leftcolumn {
	float: left;
	width: 67%;
	margin: 5% 1% 5% 2%;
}


/*==== 右列 ====*/
.rightcolumn {
	float: left;
	width: 27%;
	margin: 5% 2% 5% 1%;
}


/*==== 公告卡片 ====*/
.announcement iframe {
	width: 100%;
	height: 400px;
}

/*==== 个人链接卡片 ====*/
.aboutme {
	text-align: center;
	padding: 4% 2%;
}
.aboutme .p1 {
	font-size: 25px;
}
.aboutme .p2 {
	font-size: 16px;
}
/*头像*/
.aboutme .avatar {
	transition: all 0.2s;
	width: 45%;
	border-radius: 100%;
	border: 5px solid #dedede;
}
.aboutme .avatar:hover {
	transition: all 0.2s;
	transform: scale(1.1,1.1);
	width: 45%;
	border-radius: 100%;
	border: 5px solid #dedede;
	box-shadow: 0 5px 10px rgba(20, 20, 20, 0.6);
}
/*按钮图标*/
.aboutme .linkimg {
	width: 33px;
	height: 33px;
	vertical-align: top;
}


/*==== 个人链接按钮 ====*/
.aboutme .mylink:link,.aboutme .mylink:visited {
	width: 65%;
	padding: 3% 5%;
	margin: 5%;
	border: 5px solid #dedede;
	background-color: #dedede;
	color: #21364c;
	border-radius: 28px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	backdrop-filter: blur(8px);
	transition: all 0.2s;
}

.aboutme .mylink:hover {
	box-shadow: 0 5px 10px rgba(20, 20, 20, 0.6);
	padding-bottom: 3%;
	font-size: 23px;
	border-bottom-color: #21364c;	
	transition: all 0.2s;
}
/*========*/

/*==== GIF卡片 ====*/
.mygif {
	text-align: center;
}
.mygif .gif01 {
	width: 60%;
}

/*==== 欢迎卡片 ====*/
.welcome {
	text-align: center;
}
.welcome .p1 {
	font-size: 35px;
}
.welcome .p2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 19px;
}
.welcome .p3 {
	margin-top: 5%;
	font-size: 20px;
}

/*==== 内容卡片01 ====*/
.part01 {
	text-align: center;
}
.part01 .p1-1 {
	text-align: left;
	font-size: 35px;
	line-height: 45px;
}
.part01 .p1-2 {
	text-align: right;
	font-size: 35px;
	line-height: 45px;
}
.part01 .p2 {
	font-size: 20px;
}
.part01 .p3 {
	font-size: 30px;
}

/*==== 内容卡片02 ====*/
.part02 .p3 {
	text-align: right;
}
.part02 .p4 {
	padding: 0 3%;
}
.part02 .gif {
	width: 20%;
}


/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	.leftcolumn, .rightcolumn {   
		width: 90%;
		padding: 0;
		margin: 5%;
	}
	.aboutme .avatar {
		width: 25%;
	}
	.aboutme .mylink:link,.aboutme .mylink:visited {
		font-size: 24px;
		padding: 2% 3%;
		width: 35%;
		margin: 3%;
	}
	.aboutme .mylink:hover {
		padding-bottom: 2%;
		font-size: 26px;
	}
	.mygif .gif01 {
		width: 260px;
	}
	.welcome .music{
		display: none;
	}
}

