@charset "UTF-8";
/* 主样式文件 */


body {
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: opacity 1s;
}




/*==== 页面滚动条 ====*/
/* 宽度 */
::-webkit-scrollbar {
  width: 8px;
}
/* 轨迹 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 处理 */
::-webkit-scrollbar-thumb {
  background: rgb(90, 180, 236); 
  border-radius: 10px;
}
/* 悬停处理 */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 90, 118);
}


/*==== 毛玻璃 ====*/
.blur {
	font-family: 微软雅黑;
	font-size: 20px;
	line-height: 35px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
	border-radius: 32px;
	align-items: center;
	backdrop-filter: blur(7px);
	padding: 38px 28px;
	margin-bottom: 30px;
}


/*==== 顶部导航栏 ====*/
.topnav {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(7px);
	box-shadow: 0 5px 15px rgba(115, 115, 115, 0.8);
	border: 1px solid #afc4cc;
	margin: 3% 0;
	border-radius: 25px;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
}


/*==== 顶部导航按钮 ====*/
.button01:link,.button01:visited {

	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.4);
	color: #21364c;
	width: 65px;
	margin: 5px 12px;
	padding: 10px 30px;
	border: 2px solid #a7bcc3;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	backdrop-filter: blur(8px);
}

.button01:hover {
	background-color: #8FC3FF;
	color: white;
	border-width: 5px;
	margin: 1px 9px;
}

.button01:active {
	background-color: #568EC6;
	color: white;
}
/*========*/


/*==== 头部标题logo ====*/
.header01 {
	text-align: center;
}
.header01 .logo {
	margin-top: 4%;
	margin-bottom: 25%;
	width: 45%;
}

.header02 {
	text-align: center;
}
.header02 .logo {
	margin-top: 4%;
	margin-bottom: 10%;
	width: 45%;
}
.header02 .p1 {
	font-size: 50px;
	text-shadow: 3px 3px 6px whitesmoke;
}


/*==== 返回顶部 ====*/
.back-to-top .icon {
	width: 30px;
	margin: 10px;
}
.back-to-top:link,.back-to-top:visited {
	position: fixed;
	right: 35px;
	bottom: 35px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	border: 5px solid #dedede;
	z-index: 998;
}
.back-to-top:hover {
	border: 5px solid #3f3f3f;
}


/*==== 底部版权信息 ====*/
.footer {
	text-align: center;
}
.footer .p0 {
	display: none;
}
.footer .p1 {
	line-height: 0;
}
.footer .p2 {
	font-size: 20px;
	line-height: 150%;
}
.footer .p3 {
	line-height: 0;
}
.footer .url {
	line-height: 0;
	text-decoration: none;
	margin: 0 1%;
}
.footer .logo {
	float: left;
	width: 20%;
	position: fixed;
	top: 30%;
	left: 5%;
}





/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	.blur {
		backdrop-filter: none;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.button01:link,.button01:visited {
		font-size: 28px;
		width: 75px;
		margin: 5px 12px;
		padding: 10px 30px;
		border-radius: 30px;
	}
	.button01:hover {
		margin: 1px 9px;
	}
	.header01 .logo {
		width: 80%;
		margin-bottom: 85%;
	}
	.header02 .logo {
		width: 80%;
		margin-bottom: 70%;
	}
	.footer .p0{
		display: inline-block;
		width: 25%;
	}
	.footer .logo {
		display: none;
	}
	.back-to-top .icon {
		width: 50px;
	}
}

