@charset "UTF-8";
/* 主样式文件 */

/*==== 背景 ====*/
body {
	background-color: antiquewhite;
	background-image: url("../images/bg01.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

/*==== 框架 ====*/
body {
	min-height: 90vh;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

/*==== 网页淡入动画 ====*/
body {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
}
/*==== 网页淡入动画-关键帧 ====*/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
		margin-top: 60px;
    }
    100% {
        opacity: 1;
		margin-top: 0;
    }
}


/*==== 鼠标指针样式 ====*/
* {
	cursor: url("../images/cursor/01.png"), auto;
}
a {
	cursor: url("../images/cursor/02.png"), auto;
}
a:active {
	cursor: url("../images/cursor/02.png"), auto;
}
a img {
	cursor: url("../images/cursor/02.png"), auto;
}
button {
	cursor: url("../images/cursor/02.png"), auto;
}



/*==== 页面滚动条 ====*/
/* 宽度 */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
/* 轨迹 */
::-webkit-scrollbar-track {
	border-radius: 10px;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
	background: rgb(90, 180, 236);
	border-radius: 10px;
}
/* 滑块-点击 */
::-webkit-scrollbar-thumb:hover {
	background: rgb(44, 90, 118);
}


/*==== 清除列之后的浮动 ====*/
.row:after {
	content: "";
	display: table;
	clear: both;
}


/*==== 毛玻璃 ====*/
.blur {
	font-family: "Microsoft Yahei";
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
	border-radius: 32px;
	align-items: center;
	backdrop-filter: blur(7px);
	padding: 38px 28px;
	margin-bottom: 30px;
	transition: all 0.3s;
}

.blur:hover {
	background-color: rgba(255, 255, 255, 0.55);
	transition: all 0.3s;
}


/*==== 顶部导航栏 ====*/
.topnav {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(7px);
	box-shadow: 0 5px 15px rgba(115, 115, 115, 0.8);
	border: 1px solid #afc4cc;
	margin: 3% 0;
	border-radius: 25px;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
}
.topnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.topnav li {
	margin: 0;
	padding: 0;
	display: inline;
}


/*==== 顶部导航按钮 ====*/
.topnav a:link,.topnav a:visited {
	font-family: 微软雅黑;
	font-weight: bold;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.4);
	color: #21364c;
	width: 65px;
	margin: 5px 20px;
	padding: 10px 30px;
	border: 2px solid #a7bcc3;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	backdrop-filter: blur(8px);
	transition: all 0.3s;
}
.topnav a:hover {
	transition: all 0.3s;
	background-color: #8FC3FF;
	color: white;
	border: 5px solid #9cafb5;
	margin: 1px 17px;
}
.topnav a:active {
	transition: all 0.3s;
	background-color: #568EC6;
	color: white;
	border: 5px solid #b7ced5;
	margin: 1px 17px;
}
/*========*/


/*==== 头部标题logo ====*/
.header01 {
	text-align: center;
}
.header01 .logo {
	margin-top: 30%;
	margin-bottom: 3%;
	width: 45%;
}

.header02 {
	text-align: center;
}
.header02 .logo {
	margin-top: 30%;
	margin-bottom: 3%;
	width: 45%;
}
.header02 .p1 {
	font-size: 50px;
	text-shadow: 3px 3px 6px whitesmoke;
}


/*==== 返回顶部 ====*/
.back-to-top .icon {
	width: 30px;
	margin: 10px;
}
.back-to-top:link,.back-to-top:visited {
	transition: all 0.2s;
	position: fixed;
	right: 35px;
	bottom: 35px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	border: 5px solid #dedede;
	z-index: 998;
}
.back-to-top:hover {
	transition: all 0.2s;
	border: 5px solid #3f3f3f;
}
/*==== 返回顶部平滑动画 ====*/
html {
	scroll-behavior: smooth;
}


/*==== 蓝色按钮 ====*/
.BlueBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 13px;
    outline: none;
    background-color: #0056b3;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}
.BlueBtn:hover {
    background-color: #012b58;
}


/*==== 底部版权信息 ====*/
.footer {
	text-align: center;
}
.footer .p0 {
	display: none;
}
.footer .p1 {
	line-height: 70%;
}
.footer .p2 {
	line-height: 70%;
}
.footer .p3 {
	line-height: 70%;
}
.footer .url {
	line-height: 0;
	text-decoration: none;
	margin: 0 1%;
}
.footer .logo {
	float: left;
	width: 20%;
	position: fixed;
	top: 30%;
	left: 5%;
}





/*==== 响应式布局 ====*/
@media screen and (max-width: 1080px) {
	body {
		background-image: url("../images/bg01.png");
		width: 100%;
	}
	.blur {
		backdrop-filter: none;
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: none;
	}
	/*==== 顶部导航 ====*/
	.topnav {
		border-radius: 40px;
	}
	.topnav a:link,.topnav a:visited {
		font-size: 32px;
		width: 85px;
		margin: 1%;
		padding: 1.25%;
		border-radius: 40px;
	}
	.topnav a:hover {
		margin: 0.49%;
	}
	.topnav a:active {
		margin: 1px 17px;
	}
	/*========*/
	.button01:link,.button01:visited {
		font-size: 28px;
		width: 75px;
		margin: 5px 12px;
		padding: 10px 30px;
		border-radius: 30px;
	}
	.button01:hover {
		margin: 1px 9px;
	}
	.header01 .logo {
		width: 80%;
		margin-bottom: 85%;
	}
	.header02 .logo {
		width: 80%;
		margin-bottom: 70%;
	}
	.footer .p0{
		display: inline-block;
		width: 25%;
	}
	.footer .logo {
		display: none;
	}
	.back-to-top .icon {
		width: 50px;
	}
}

