@charset "UTF-8";


/*==== 内容 ====*/
.links {
	width: 75%;
	margin: auto;
	margin-bottom: 100px;
	padding-top: 5%;
	text-align: center;
}

.links ul {
	list-style-type: none;
	width: 85%;
	margin: auto;
	padding: 0;
	line-height: 38px;
	font-size: 23px;
	border: 5px solid rgba(255, 195, 155, 0.6);
	background-color: rgba(255, 240, 233, 0.4);
}

.links li {
	transition: all 0.1s;
}
.links li:hover {
	transition: all 0.2s;
	border-left: 5px solid cornflowerblue;
	background-color: rgba(199, 199, 199, 0.6);
	font-size: 26px;
}
.links li:active {
	border-left: 5px solid green;
	background-color: rgba(197, 197, 197, 0.5);
}
.links a {
	padding-left: 5px;
	color: #000;
	text-decoration: none;
	display: block;
}




@media screen and (max-width: 1080px) {
	.mylinks {
		width: 95%;
	}
}
