@charset "UTF-8";


body {
	background-image: url("/images/bg31.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 90vh;
	width: 80%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/*==== 内容 ====*/
.myvideos {
	width: 65%;
	margin: auto;
	padding-top: 5%;
	text-align: center;
}

.myvideos iframe {
	width: 95%;
	height: 400px;
}




@media screen and (max-width: 1080px) {
	body {
		width: 95%;
	}
	.myvideos {
		width: 95%;
	}
}
