@charset "UTF-8";


/*==== 内容 ====*/
.myvideos {
	width: 65%;
	margin: auto;
	padding-top: 5%;
	text-align: center;
}

.myvideos iframe {
	width: 95%;
	height: 400px;
}




@media screen and (max-width: 1080px) {
	.myvideos {
		width: 95%;
	}
}
